foo {
	fail: '\"b\\\\a\or\"';
	fail: #{\"b\\\\a\or\"};
	fail: #{"#{#{'\"b\\\\a\or\"'}}"};
	fail: #{"#{#{"#{'\"b\\\\a\or\"'}"}}"};
	fail: "#{"#{#{'\"b\\\\a\or\"'}}"}";
	fail: "#{"#{#{"#{'\"b\\\\a\or\"'}"}}"}";
}
